# Лабораторная работа № 5

Мацыкина А.С.

Группа: Т12О-101М-20

Дата: 19.11.2020

In [1]:
import sys
import numpy as np
import pandas as pd

### 1. Получить от объекта Series показатели описательной статистики

In [11]:
s = pd.Series(np.random.normal(10, 5, 25))
print(s)
print()
a = s.describe()
print(a)

0     15.992019
1      2.474945
2      6.677313
3     13.208854
4      7.220991
5     10.597108
6      8.809410
7      7.374734
8     10.093219
9     16.120725
10     8.565771
11    12.732734
12    12.754783
13     8.172333
14    14.308485
15     7.084638
16     7.705076
17     7.163546
18     8.168535
19    11.551472
20     7.383461
21     8.800650
22     7.701107
23    13.405090
24    12.971403
dtype: float64

count    25.000000
mean      9.881536
std       3.341414
min       2.474945
25%       7.383461
50%       8.800650
75%      12.754783
max      16.120725
dtype: float64

### 2. Узнать частоту уникальных элементов объекта Series (гистограмма)

In [5]:
src_list = list('ololololo')
s1 = pd.Series(src_list)
ans = s1.value_counts()
print(ans)

o    5
l    4
dtype: int64

### 3. Заменить все элементы объекта Series на "Other", кроме двух наиболее часто встречающихся

In [12]:
s = pd.Series(np.random.randint(low=1, high=5, size=[13]))
print(s)
print()
print(s.value_counts())
print()
s[~s.isin(s.value_counts().index[:2])] = 'Other'
print(s)

0     1
1     3
2     3
3     2
4     2
5     4
6     2
7     2
8     1
9     3
10    1
11    4
12    1
dtype: int32

2    4
1    4
3    3
4    2
dtype: int64

0         1
1     Other
2     Other
3         2
4         2
5     Other
6         2
7         2
8         1
9     Other
10        1
11    Other
12        1
dtype: object

### 4. Создать объект Series в индексах дата каждый день 2019 года, в значениях случайное значение

In [19]:
dti = pd.date_range(start='2019-01-01', end='2019-12-31') 
print(dti)
print()
s = pd.Series(np.random.rand(len(dti)), index=dti)
print(s)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25',
               '2019-12-26', '2019-12-27', '2019-12-28', '2019-12-29',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

2019-01-01    0.505295
2019-01-02    0.417291
2019-01-03    0.078110
2019-01-04    0.351466
2019-01-05    0.938676
                ...
2019-12-27    0.478476
2019-12-28    0.418959
2019-12-29    0.260505
2019-12-30    0.731637
2019-12-31    0.999792
Freq: D, Length: 365, dtype: float64

##### Найти сумму всех вторников

In [22]:
ans1 = s[s.index.weekday == 1].sum()
print(ans1)

27.211960295904767

##### Для каждого месяца найти среднее значение

In [18]:
ans2 = s.resample('M').mean()
print(ans2)

2019-01-31    0.533053
2019-02-28    0.524910
2019-03-31    0.515025
2019-04-30    0.542800
2019-05-31    0.578878
2019-06-30    0.448282
2019-07-31    0.419153
2019-08-31    0.548346
2019-09-30    0.574351
2019-10-31    0.515787
2019-11-30    0.492592
2019-12-31    0.441586
Freq: M, dtype: float64

### 5. Преобразовать объект Series в DataFrame заданной формы (shape

In [24]:
s = pd.Series(np.random.randint(low=1, high=10, size=[35]))
print(s)
print()

r = (7, 5)    
df = pd.DataFrame(s.values.reshape(r))
print(df)

0     1
1     4
2     3
3     1
4     7
5     7
6     6
7     8
8     6
9     7
10    7
11    1
12    5
13    4
14    9
15    6
16    9
17    5
18    8
19    3
20    2
21    1
22    3
23    1
24    5
25    3
26    2
27    2
28    9
29    8
30    2
31    1
32    2
33    8
34    6
dtype: int32

   0  1  2  3  4
0  1  4  3  1  7
1  7  6  8  6  7
2  7  1  5  4  9
3  6  9  5  8  3
4  2  1  3  1  5
5  3  2  2  9  8
6  2  1  2  8  6

### 6. Найти индексы объекта Series кратные 3

In [32]:
s = pd.Series(np.random.randint(low=1, high=10, size=[7]))
print(s)
print()
ans2 = s[s % 3 == 0].index
print(ans2)

0    6
1    2
2    2
3    7
4    8
5    3
6    8
dtype: int32

Int64Index([0, 5], dtype='int64')

### 7. Получить данные по индексам объекта Series

In [35]:
src_list = list('ololololo')
s1 = pd.Series(src_list)
p = [0, 4, 7, 8]
ans = s1[p]
print(ans)

0    o
4    o
7    l
8    o
dtype: object

### 8. Объединить два объекта Series вертикально и горизонтально

In [37]:
src_list = list('ololololo')
src_arr = np.arange(10)
s1 = pd.Series(src_list)
s2 = pd.Series(src_arr)
print(s1)
print()
print(s2)
print()
ans_vertical = s1.append(s2)
ans_horizontal = pd.concat([s1, s2], axis=1)
 
print(ans_vertical)
print()
print(ans_horizontal)

0    o
1    l
2    o
3    l
4    o
5    l
6    o
7    l
8    o
dtype: object

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

0    o
1    l
2    o
3    l
4    o
5    l
6    o
7    l
8    o
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: object

     0  1
0    o  0
1    l  1
2    o  2
3    l  3
4    o  4
5    l  5
6    o  6
7    l  7
8    o  8
9  NaN  9

### 9. Получить индексы объекта Series A, данные которых содержатся в объетке Series B

In [44]:
s1 = pd.Series([5, 3, 2, 1, 4, 11, 13, 8, 7])
s2 = pd.Series([1, 5, 13, 2])
print(s1)
print()
print(s2)
print()
ans1 = np.asarray([np.where(i == s1)[0].tolist()[0] for i in s2])
print(ans1)

0     5
1     3
2     2
3     1
4     4
5    11
6    13
7     8
8     7
dtype: int64

0     1
1     5
2    13
3     2
dtype: int64

[3 0 6 2]

### 10. Получить объект Series B, котоырй содержит элементы без повторений объекта A

In [47]:
s = pd.Series([1, 1, 2, 2, 3, 4, 4, 5])
print(s)
print()
ans = pd.Series(s.unique())
print(ans)

0    1
1    1
2    2
3    2
4    3
5    4
6    4
7    5
dtype: int64

0    1
1    2
2    3
3    4
4    5
dtype: int64

### 11. Преобразовать каждый символ объекта Series в верхний регистр

In [51]:
s = pd.Series(list('ololololo'))
print(s)
print()
s1 = pd.Series(str(i) for i in s)
print(s1)
print()
ans = pd.Series(i.title() for i in s1)
print(ans)

0    o
1    l
2    o
3    l
4    o
5    l
6    o
7    l
8    o
dtype: object

0    o
1    l
2    o
3    l
4    o
5    l
6    o
7    l
8    o
dtype: object

0    O
1    L
2    O
3    L
4    O
5    L
6    O
7    L
8    O
dtype: object

### 12. Рассчитать количество символов в объекте Series

In [54]:
s = pd.Series(list('ololololo'))
print(s)
print()
s1 = pd.Series(str(i) for i in s1)
print(s1)
print()
ans = np.asarray([len(i) for i in s1])
print(ans)

0    o
1    l
2    o
3    l
4    o
5    l
6    o
7    l
8    o
dtype: object

0    o
1    l
2    o
3    l
4    o
5    l
6    o
7    l
8    o
dtype: object

[1 1 1 1 1 1 1 1 1]

### 13. Найти разность между объектом Series и смещением объекта Series на n

In [56]:
s = pd.Series([1, 5, 7, 8, 12, 15, 17])
print(s)
print()
n = 1
ans = s.diff(periods=n)
 
print(ans)

0     1
1     5
2     7
3     8
4    12
5    15
6    17
dtype: int64

0    NaN
1    4.0
2    2.0
3    1.0
4    4.0
5    3.0
6    2.0
dtype: float64

### 14. Преобразовать разыне форматы строк объекта Series в дату

In [63]:
s = pd.Series(['2020-11-20', '19 Nov 2020', '2020/11/18'])
print(s)
print()
ans = pd.to_datetime(s)
print(ans)

0     2020-11-20
1    19 Nov 2020
2     2020/11/18
dtype: object

0   2020-11-20
1   2020-11-19
2   2020-11-18
dtype: datetime64[ns]

### 15. Поскольку работа с датой часто встречается в работе, то см. еще один пример

##### все данные должны иметь одинаковый формат (часто бывает выгрузка из SQL)

In [61]:
s = pd.Series(['20.11.2020', '19.11.2020', '18.11.2020'])
print(s)

0    20.11.2020
1    19.11.2020
2    18.11.2020
dtype: object

##### преобразовать в дату

In [62]:
ans = pd.to_datetime(s, format='%d.%m.%Y')
print(ans)

0   2020-11-20
1   2020-11-19
2   2020-11-18
dtype: datetime64[ns]

### 16. Получить год, месяц, день, день недели, номер дня в году от объекта Series (string)

In [64]:
from dateutil.parser import parse
 
s = pd.Series(['2020-11-20', '19 Nov 2020', '2020/11/18',  '20301117',  '2020-11-16'])
print(s)

0     2020-11-20
1    19 Nov 2020
2     2020/11/18
3       20301117
4     2020-11-16
dtype: object

##### распарсить в дату и время

In [66]:
s_ts = s.map(lambda x: parse(x, yearfirst=True))
print(s_ts)

0   2020-11-20
1   2020-11-19
2   2020-11-18
3   2030-11-17
4   2020-11-16
dtype: datetime64[ns]

##### получить года

In [67]:
print(s_ts.dt.year)

0    2020
1    2020
2    2020
3    2030
4    2020
dtype: int64

##### получить месяца

In [68]:
print(s_ts.dt.month)

0    11
1    11
2    11
3    11
4    11
dtype: int64

##### получить дни

In [69]:
print(s_ts.dt.day)

0    20
1    19
2    18
3    17
4    16
dtype: int64

##### получить номер недели

In [70]:
print(s_ts.dt.weekofyear)

0    47
1    47
2    47
3    46
4    47
dtype: int64

<ipython-input-70-22fcabb6c3db>:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  print(s_ts.dt.weekofyear)

##### получить номер дня в году

In [71]:
print(s_ts.dt.dayofyear)

0    325
1    324
2    323
3    321
4    321
dtype: int64

### 17. Отобрать элементы объекта Series, кторые содержат не менее двух гласных

In [72]:
from collections import Counter

s = pd.Series(['Цифра', 'Буква', 'Минус', 'Плюс',])
print(s)
print()
mask = s.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('ауоыиэяюёе')]) >= 2)

ans = s[mask]
print(ans)

0    Цифра
1    Буква
2    Минус
3     Плюс
dtype: object

0    Цифра
1    Буква
2    Минус
dtype: object

### 18. Отобрать e-маилы из объекта Series (можно юзать регулярки)

In [73]:
import re
emails = pd.Series(['test text @test.com', 'test@mail.ru', 'test.2ru', 'test@pp'])
print(emails)
print()

pattern = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

mask = emails.map(lambda x: bool(re.match(pattern, x)))
ans = emails[mask]
print(ans)

0    test text @test.com
1           test@mail.ru
2               test.2ru
3                test@pp
dtype: object

1    test@mail.ru
dtype: object

### 19. Получить среднее значение каждого уникального объекта Series s1 через "маску" другого объекта Series s2

In [77]:
n = 10
s1 = pd.Series(np.random.choice(['one', 'two', 'three', 'four'], n))
print(s1)
print()
s2 = pd.Series(np.linspace(1,n,n))
print(s2)
print()
ans = s2.groupby(s1).mean()
print(ans)

0    three
1    three
2    three
3      two
4     four
5     four
6    three
7     four
8      two
9     four
dtype: object

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

four     7.25
three    3.25
two      6.50
dtype: float64