# Лабораторная работа № 4

Мацыкина А.С.

Группа: Т12О-101М-20

Дата: 13.11.2020

### 1. Импортировать модули sys numpy pandas

In [51]:
import sys
import numpy as np
import pandas as pd

### 2. Создать объект pandas Серия из листа, объекта NumPy, и словаря

In [52]:
src_list = list('ololololo')
src_arr = np.arange(10)
src_dict = dict(a='1', b='2', c='3', d='4')
 
s1 = pd.Series(src_list)
s2 = pd.Series(src_arr)
s3 = pd.Series(src_dict)

 
print(s1)
print()
print(s2)
print()
print(s3)

0    o
1    l
2    o
3    l
4    o
5    l
6    o
7    l
8    o
dtype: object

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

a    1
b    2
c    3
d    4
dtype: object

### 3. Преобразовать объект Series в DataFrame

##### создать объект серии

In [53]:
s = pd.Series({'a': '1', 'b': '2', 'c': '3'})
print(s)

a    1
b    2
c    3
dtype: object

##### преобразовать в DataFrame

In [54]:
s = s.to_frame()
print(s)

   0
a  1
b  2
c  3

### 4. Oбъединить несколько объектов Серии в Dataframe

In [55]:
src_list = pd.Series(list('ololololo'))
src_arr = pd.Series(np.arange(10))

print(src_list)
print()
print(src_arr)
print()

a = pd.concat([src_list, src_arr], axis=1)
print(a)

0    o
1    l
2    o
3    l
4    o
5    l
6    o
7    l
8    o
dtype: object

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

     0  1
0    o  0
1    l  1
2    o  2
3    l  3
4    o  4
5    l  5
6    o  6
7    l  7
8    o  8
9  NaN  9

### 5. Присвоить имя индексу объекта Серия

In [56]:
s = pd.Series({'a': 1, 'b': 2, 'c': 3})
print(s)
print()
s.name = 'ololo'
print(s)
print()

s1 = pd.Series({'a': 5, 'b': 6, 'c': 7}, name='abcdefj')
print(s1)

a    1
b    2
c    3
dtype: int64

a    1
b    2
c    3
Name: ololo, dtype: int64

a    5
b    6
c    7
Name: abcdefj, dtype: int64

### 6. Получить элементы объекта серии A, которых нет в объекте серии B

In [57]:
A = pd.Series([5, 8, 1, 2, 13])
B = pd.Series([5, 6, 7, 8, 9, 10])
print(A)
print()
print(B)

0     5
1     8
2     1
3     2
4    13
dtype: int64

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

##### возвратить вместе с индексами

In [58]:
ans = A[~A.isin(B)]
print(ans)

2     1
3     2
4    13
dtype: int64

#####  возвратить значения

In [59]:
ans = np.setdiff1d(A, B, assume_unique=True)
print(ans)

[ 1  2 13]

### 7. Получить не пересекающиеся элементы в двух объектах серии

In [60]:
A = pd.Series([5, 8, 1, 2, 13])
B = pd.Series([5, 6, 7, 8, 9, 10])
print(A)
print()
print(B)

0     5
1     8
2     1
3     2
4    13
dtype: int64

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

#####  получить объединенный Серия без повтороений

In [61]:
s_union = pd.Series(np.union1d(A, B))
print(s_union)

0     1
1     2
2     5
3     6
4     7
5     8
6     9
7    10
8    13
dtype: int64

##### получить пересекающиеся данные

In [62]:
s_intersect = pd.Series(np.intersect1d(A, B))
print(s_intersect)

0    5
1    8
dtype: int64

##### отобрать все данные, кроме пересекающихся. Возвратить вместе с индексами

In [63]:
ans = s_union[~s_union.isin(s_intersect)]
print(ans)

0     1
1     2
3     6
4     7
6     9
7    10
8    13
dtype: int64

#####  возвратить значения

In [64]:
ans2 = np.setxor1d(A, B, assume_unique=True)
print(ans2)

[ 1  2  6  7  9 10 13]